<ul class="header">
  <li class="header-item header-item-left"><a href="#">home</a></li>
  <li class="header-item header-item-left"><a href="#">last day</a></li>
  <li class="header-item header-item-right"><a href="#">log out</a></li>
</ul>
<div class="clearfix"></div>