body,
input[type=text],
input[type=password] {
    font-family: "pt sans", sans-serif;
    font-size: 16px;
    color: #080808;
}

a {
    color: #1e74fd;
}

a:hover {
    color: #ff035b !important;
}

.container {
    width: 960px;
    margin: 0px auto 40px;
}

/* ======================================== */

.header {
    height: 40px;
    background: #f7f7f3;
    margin-bottom: 20px;
}

.header-item {
    line-height: 40px;
    list-style-type: none;
}

.header-item-left {
    float: left;
    padding-left: 10px;
}

.header-item-right {
    float: right;
    padding-right: 10px;
}

.clearfix {
    clear: both;
}

/* ======================================== */

.nav {
    height: 40px;
    background: #f7f7f3;
    margin-bottom: 20px;
    color: #686868;
}

.nav-item {
    line-height: 40px;
    padding-left: 10px;
    display: inline-block;
    list-style-type: none;
}

.nav-item:after {
    content: "/";
    padding-left: 10px;
}

.nav-item:last-child:after {
    content: "";
}

/* ======================================== */

.date {
    list-style-type: none; 
}

.date-link {
    background: #f7f7f3;
    line-height: 40px;
    display: block; 
    padding-left: 10px;
    border-top: 1px solid #ccc;
}

.date:first-child .date-link {
    border-top: none;
}

.date-link:hover {
    background: #e8e8ef;
}

/* ======================================== */

.messages {
    width: 100%;
    line-height: 1.2;
}

.messages tbody {
    border-top: 1px solid #ccc;
}

.messages tbody:first-child {
    border-top: none;
}

.messages-even .message {
    background: #f9f9f5;
}

.messages-odd .message {
    background: #e8e8ef;
}

.messages-collapsed .message {
    background: #ecf4f8;
}

.messages-collapsed .message {
    color: transparent;
}

.spoiler-wrapper {
    position: relative;
    vertical-align: top;
    width: 1px;
    height: 1px;
}

.spoiler {
    color: #5093fe;
}

.message td {
    padding: 5px;
}

.message td:first-child {
    white-space: nowrap;
    padding-left: 10px;
}

.message td:last-child {
    width: 100%;
    padding-right: 10px;
}

.message-status {
    color: #8f8f8f;
    background: #ecf4f8;    
}

.message-from {
    display: block;
    text-align: right;
    font-weight: bold;
}  

.message-timestamp {
    text-align: right;
    display: block;
}

.message-timestamp a {
    color: #5093fe;
}

/* ======================================== */

input[type=text],
input[type=password] {
    outline: none;
    border: 1px solid #ccc;
    height: 20px;
    margin: 0px;
    padding: 5px 10px;
}

.flash {
    background: #fbcfe4;
    line-height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.field-login,
.field-password {
    margin-bottom: 10px;
}