body,
input[type=text],
input[type=password] {
    font-family: "pt sans", sans-serif;
    font-size: 16px;
    color: #080808;
}

a {
    color: #0261f7
}

a:hover {
    color: #ff035b
}

.container {
    width: 960px;
    margin: 0px auto;
}

.header {
    height: 40px;
    background: #eaebdd;
    margin-bottom: 20px;
}

.header-item {
    line-height: 40px;
    list-style-type: none;
}

.header-item-left {
    float: left;
    padding-left: 10px;
}

.header-item-right {
    float: right;
    padding-right: 10px;
}

.clearfix {
    clear: both;
}

.nav {
    height: 40px;
    background: #eaebdd;
    margin-bottom: 20px;
}

.nav-item {
    line-height: 40px;
    padding-left: 10px;
    display: inline-block;
    list-style-type: none;
}

.nav-item:after {
    content: "/";
    padding-left: 10px;
}

.nav-item:last-child:after {
    content: "";
}

table.messages {
    width: 100%;
    line-height: 1.2;
}

table.messages td {
    padding: 5px;
    /*white-space: nowrap;*/
}

ul.messages li {
    list-style-type: none; 
}

ul.messages li a {
    background: #eaebdd;
    line-height: 40px;
    display: block; 
    padding-left: 10px;
}

ul.messages li a:hover {
    background: #dddec8;
}

ul.messages li {
    border-bottom: 1px solid #aaa;
}

ul.messages li:last-child {
    border-bottom: none;
}

.message td:first-child {
    background: #c6deeb;
}

.message td:last-child {
    width: 100%;
    background: #eaebdd;
}

.message-status {
    color: #888;
}

.message-from {
    display: block;
    text-align: right;
    font-weight: bold;
}  

.message-timestamp {
    text-align: right;
    display: block;
}

.flash {
    background: #fbcfe4;
    line-height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
}

input[type=text],
input[type=password] {
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: $body-font-family;
    height: 20px;
    margin: 0px;
    padding: 5px 10px;
}

.field-login,
.field-password {
    margin-bottom: 10px;
}