<ul class="dates">
  <% @messages.each do |message| %>
    <li class="date"><a class="date-link" href="/<%= @year %>/<%= lz @month %>/<%= lz message.day %>"><%= lz message.day %></a></li>
  <% end %>
</ul>