%ul.header
  %li.header-item.header-item-left
    %a{ :href => '/' } home
  %li.header-item.header-item-left
    %a{ :href => '/search' } search
  %li.header-item.header-item-left
    %a{ :href => "#{last_day_path}" } last day
  %li.header-item.header-item-right
    %a{ :href => "#{logout_path}" } log out