.flash
  = @flash

%form.login-form{ :action => '/login', :method => 'post' }
  .field.field-login
    %input{ :type => 'text', :name => 'login', :placeholder => 'login', :autocomplete => 'off', :autofocus => 'autofocus' }
  .field.field-password
    %input{ :type => 'password', :name => 'password', :placeholder => 'password' }
  .field
    %input{ :type => 'submit', :value => 'log in' }